.form-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
}

.form-container header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 20px;
    border-bottom: solid 1px #e54d77;
    border-radius: 200px;
    box-shadow: inset 0 -5px 0 #e54d77;
}

.form-container header * {
    -webkit-user-select: none;
}
.form-container header h1 {
    color: #e5e7eb;
    font-weight: bold;
}
.form-formulary {
    display: flex;
    width: 98%;
    flex-direction: column;
    max-width: 700px;
    margin-top: 20px;
    align-items: center;
}
.form-input-box {
    border: solid 1px #e54d77;
    font-size: 18px;
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
    margin-bottom: 10px;
}
.form-input-box-disabled {
    opacity: 0.3;
}
.form-input-box svg{
    color: #b4b8b9;
}
.form-input-box input {
    color: #b4b8b9;
    font-size: 20px;
    width: 100%;
    margin-left: 10px;
}
.form-formulary textarea {
    color: #b4b8b9;
    font-size: 20px;
    width: 100%;
    resize: none;
    border: solid 1px #e54d77;
    padding: 5px;
}
.form-formulary button.create {
    position: relative;
    color: #b4b8b9;
    font-size: 20px;
    width: 80%;
    border: solid 1px #e54d77;
    padding: 10px 0;
    margin-top: 20px;
    z-index: 1;
    overflow: hidden;
    transition: 0.8s;
}
.form-formulary button.create::after {
    content: '';
    position: absolute;
    top: -35px;
    left: -10px;
    width: 0;
    height: calc(100% * 2.9);
    background-color: #e54d77;
    z-index: -1;
    transition: 0.9s;
    transform: rotate(7deg);
}
.form-formulary button.create:hover::after {
    width: calc(100% + 50px);
}
.form-formulary button.create:hover {
    color: #e5e7eb;
}